src/main/resources/conf/scenario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">

	<!-- PDF (Probability Distribution Function -->
	<!-- CONSTANT(value) - Constant value -->
	<!-- UNIFORM(minValue, maxValue) - Uniform distribution between minimum 
		and maximum value -->
	<!-- NORMAL(mean,stdDev) - Normal distribution with mean and standard deviation 
		specified -->
	<!-- POISSON(lambda) - Poisson distribution generated based on the lambda -->

	<element name="scenario">
		<complexType>
			<sequence>
				<!-- General Configuration Information -->
				<element maxOccurs="1" name="general">
					<complexType>
						<sequence>
							<element name="numberReplications" type="nonNegativeInteger" />
							<element name="numberCycles" type="decimal" />
							<element maxOccurs="1" name="seeds">
								<complexType>
									<choice maxOccurs="unbounded" minOccurs="0">
										<element name="seed" type="nonNegativeInteger" />
									</choice>
								</complexType>
							</element>
							<element maxOccurs="1" name="output">
								<complexType>
									<sequence>
										<element name="directory" type="string" />
										<element name="append" type="boolean" />
										<element name="separator" type="string" />
										<element name="timeToWrite" type="nonNegativeInteger" />
									</sequence>
								</complexType>
							</element>
							<element maxOccurs="1" name="filename">
								<complexType>
									<sequence>
										<element name="extortion" type="string" />
										<element name="compensation" type="string" />
										<element name="purchase" type="string" />
										<element name="normative" type="string" />
										<element name="entrepreneur" type="string" />
										<element name="consumer" type="string" />
										<element name="mafia" type="string" />
										<element name="mafiosi" type="string" />
										<element name="state" type="string" />
										<element name="intermediaryOrganization" type="string" />
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>

				<!-- Environment Configuration Information -->
				<element maxOccurs="1" name="communication">
					<complexType>
						<sequence>
							<element maxOccurs="1" name="types">
								<complexType>
									<sequence>
										<element maxOccurs="unbounded" name="type">
											<complexType>
												<simpleContent>
													<extension base="decimal">
														<attribute name="name" type="string" />
													</extension>
												</simpleContent>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
							<element maxOccurs="1" name="actions">
								<complexType>
									<sequence>
										<element maxOccurs="unbounded" name="action">
											<complexType>
												<simpleContent>
													<extension base="string">
														<attribute name="name" type="string" />
													</extension>
												</simpleContent>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>

				<!-- Consumers Configuration Information -->
				<element maxOccurs="1" name="consumers">
					<complexType>
						<sequence>
							<element maxOccurs="unbounded" name="consumer">
								<complexType>
									<sequence>
										<element name="numberConsumers" type="nonNegativeInteger" />

										<!-- Economic -->
										<element name="buyPDF" type="string" />
										<element name="numberEntrepreneursSearch" type="nonNegativeInteger" />

										<!-- Reputation -->
										<element name="reputation">
											<complexType>
												<sequence>
													<element name="entrepreneurPayer">
														<simpleType>
															<restriction base="decimal">
																<minInclusive value="0.0" />
																<maxInclusive value="1.0" />
															</restriction>
														</simpleType>
													</element>
													<element name="entrepreneurPayerThreshold">
														<simpleType>
															<restriction base="decimal">
																<minInclusive value="0.0" />
																<maxInclusive value="1.0" />
															</restriction>
														</simpleType>
													</element>
												</sequence>
											</complexType>
										</element>

										<!-- Normative -->
										<element name="normativeXML" type="string" />
										<element name="normativeXSD" type="string" />
										<element name="individualWeight">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
													<maxInclusive value="1.0" />
												</restriction>
											</simpleType>
										</element>
										<element name="normativeWeight">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
													<maxInclusive value="1.0" />
												</restriction>
											</simpleType>
										</element>
										<element maxOccurs="1" name="normsSalience">
											<complexType>
												<sequence>
													<element maxOccurs="unbounded" name="normSalience">
														<complexType>
															<attribute name="id" type="nonNegativeInteger" />
															<attribute name="active" type="boolean" />
															<attribute name="compliance" type="nonNegativeInteger" />
															<attribute name="violation" type="nonNegativeInteger" />
															<attribute name="obsCompliance" type="nonNegativeInteger" />
															<attribute name="obsViolation" type="nonNegativeInteger" />
															<attribute name="punishment" type="nonNegativeInteger" />
															<attribute name="sanction" type="nonNegativeInteger" />
															<attribute name="invocationCompliance" type="nonNegativeInteger" />
															<attribute name="invocationViolation" type="nonNegativeInteger" />
														</complexType>
													</element>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>

				<!-- Entrepreneurs Configuration Information -->
				<element maxOccurs="1" name="entrepreneurs">
					<complexType>
						<sequence>
							<element maxOccurs="unbounded" name="entrepreneur">
								<complexType>
									<sequence>
										<element name="numberEntrepreneurs" type="nonNegativeInteger" />

										<!-- Economic -->
										<element name="wealth">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
												</restriction>
											</simpleType>
										</element>
										<element name="periodicityWagePDF" type="string" />
										<element name="minimumWage">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
												</restriction>
											</simpleType>
										</element>
										<element name="maximumWage">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
												</restriction>
											</simpleType>
										</element>
										<element name="variationWage">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
													<maxInclusive value="1.0" />
												</restriction>
											</simpleType>
										</element>
										<element name="minimumPrice">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
												</restriction>
											</simpleType>
										</element>
										<element name="maximumPrice">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
												</restriction>
											</simpleType>
										</element>

										<!-- Balance between risk and opportunity -->
										<element name="denounceAlpha">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
													<maxInclusive value="1.0" />
												</restriction>
											</simpleType>
										</element>

										<!-- State -->
										<element name="collaborationProbability">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
													<maxInclusive value="1.0" />
												</restriction>
											</simpleType>
										</element>

										<!-- Intermediary Organization -->
										<element name="affiliateThreshold">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
													<maxInclusive value="1.0" />
												</restriction>
											</simpleType>
										</element>
										<element name="affiliated" type="boolean" />

										<!-- Reputation -->
										<element name="reputation">
											<complexType>
												<sequence>
													<element name="stateProtector">
														<simpleType>
															<restriction base="decimal">
																<minInclusive value="0.0" />
																<maxInclusive value="1.0" />
															</restriction>
														</simpleType>
													</element>
													<element name="statePunisher">
														<simpleType>
															<restriction base="decimal">
																<minInclusive value="0.0" />
																<maxInclusive value="1.0" />
															</restriction>
														</simpleType>
													</element>
													<element name="mafiaPunisher">
														<simpleType>
															<restriction base="decimal">
																<minInclusive value="0.0" />
																<maxInclusive value="1.0" />
															</restriction>
														</simpleType>
													</element>
												</sequence>
											</complexType>
										</element>

										<!-- Normative -->
										<element name="normativeXML" type="string" />
										<element name="normativeXSD" type="string" />
										<element name="individualWeight">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
													<maxInclusive value="1.0" />
												</restriction>
											</simpleType>
										</element>
										<element name="normativeWeight">
											<simpleType>
												<restriction base="decimal">
													<minInclusive value="0.0" />
													<maxInclusive value="1.0" />
												</restriction>
											</simpleType>
										</element>
										<element maxOccurs="1" name="normsSalience">
											<complexType>
												<sequence>
													<element maxOccurs="unbounded" name="normSalience">
														<complexType>
															<attribute name="id" type="nonNegativeInteger" />
															<attribute name="active" type="boolean" />
															<attribute name="compliance" type="nonNegativeInteger" />
															<attribute name="violation" type="nonNegativeInteger" />
															<attribute name="obsCompliance" type="nonNegativeInteger" />
															<attribute name="obsViolation" type="nonNegativeInteger" />
															<attribute name="punishment" type="nonNegativeInteger" />
															<attribute name="sanction" type="nonNegativeInteger" />
															<attribute name="invocationCompliance" type="nonNegativeInteger" />
															<attribute name="invocationViolation" type="nonNegativeInteger" />
														</complexType>
													</element>
												</sequence>
											</complexType>
										</element>

									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>

				<!-- State Configuration Information -->
				<element maxOccurs="1" name="state">
					<complexType>
						<sequence>
							<!-- Police -->
							<element name="numberPoliceOfficers" type="nonNegativeInteger" />
							<element name="generalInvestigationDurationPDF" type="string" />
							<element name="specificInvestigationDurationPDF" type="string" />
							<element name="investigateProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="captureProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="evidenceProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>

							<!-- Justice -->
							<element name="custodyDurationPDF" type="string" />
							<element name="convictionProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<!-- #{COLLABORATION} variable -->
							<element name="collaborationConvictionFunction" type="string" />
							<element name="imprisonmentDurationPDF" type="string" />
							<element name="noCollaborationPunishmentProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="noCollaborationPunishment">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>

							<!-- Fondo Solidarieta -->
							<element name="timeToCompensationPDF" type="string" />
							<element name="resourceFondo">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="periodicityFondoPDF" type="string" />
							<element name="proportionTransferFondo">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>

							<!-- Information Spreading -->
							<element name="informationSpreadPDF" type="string" />
							<element name="proportionCustomers">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="proportionEntrepreneurs">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>

				<!-- Mafia Configuration Information -->
				<element maxOccurs="1" name="mafia">
					<complexType>
						<sequence>
							<element name="numberMafiosi" type="nonNegativeInteger" />
							<element name="wealth">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="demandPDF" type="string" />
							<element name="demandAffiliatedProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="extortionLevel">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="punishmentSeverity">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="collectionPDF" type="string" />
							<element name="punishmentProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxExclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="minimumBenefit">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="maximumBenefit">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="pentitiProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="recruitingThreshold">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="recruitingProbability">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>

				<!-- Intermediary Organization Configuration Information -->
				<element maxOccurs="1" name="intermediaryOrg">
					<complexType>
						<sequence>
							<!-- Affiliation -->
							<element name="timeToAffiliatePDF" type="string" />

							<!-- Information Spreading -->
							<element name="slope">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="proportionCustomers">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
							<element name="proportionEntrepreneurs">
								<simpleType>
									<restriction base="decimal">
										<minInclusive value="0.0" />
										<maxInclusive value="1.0" />
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>

			</sequence>
		</complexType>
	</element>
</schema>
